{%- if messages[0]['role'] == 'system' %}
    {{- 'system prompt:' + messages[0]['content'] }}
{%- else %}
    {{- 'system prompt:\n\nYou are a helpful assistant.\n\n' }}
{%- endif %}
{%- for message in messages %}
    {%- if (not (message.role == "system" and loop.first)) %}
        {{- message.role + ':' + message.content + '' }}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- 'assistant:' }}
{%- endif %}